<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="ProjectTrackingEntities" connectionString="metadata=res://*/Model.MPT.csdl|res://*/Model.MPT.ssdl|res://*/Model.MPT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I8C0IMJ;initial catalog=ProjectTracking;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>